.inputBox {
    width: 100%;
    padding: 10px;
    border: 2px solid #d1d5db;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

.inputBox:focus {
    border-color: #2563eb;
    box-shadow: 0 0 4px #60a5fa;
}
